table {
    border-collapse: collapse;
    margin: 20px;
    width: 700px;
    padding-left: 10px;
}
tr:first-child {
    background-color: gainsboro;
    text-align: center;
    font-weight: bold;
}
tr:nth-child(3) {
    background-color: gainsboro;
    font-weight: bold;
}
tr:nth-child(6) {
    background-color: gainsboro;
    font-weight: bold;
    text-align: center;
}
tr:nth-child(7) {
    background-color: gainsboro;
    font-weight: bold;
    text-align: center;
}
tr:nth-child(8) {
    background-color: gainsboro;
    font-weight: bold;
    text-align: center;
}